@import "tailwindcss";
@plugin "daisyui";


.orbitron-custom {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}


 [data-theme="dark"] .back {
  background-color: #3F3F46; /* Dark background color */
  color: white;
 }

 [data-theme="light"] .back {
  background: none !important; /* Removes grid background for light theme */
  background-color: #fff;      /* Optional: set a plain white background */
  color: black;
 }

 [data-theme="dark"] .textHome { /* Dark button color */
  color: white;
 }



  [data-theme="light"] .textHome { /* Light button color */
    color: black;
  }